:root {
    --primary-color: #FFDE00;
    --primary-light-color: #FFE769;
    --secondary-color: #FFE4BA;
    --secondary-light-color: #FFF6E8;
    --post-color: #62EEA8;
    --delete-color: #FF9F9F;
    --light-color: #FFFEFC;
    --grey-color: #747E79;
    --dark-color: #000000;

    --primary-font: 'Cabin', sans-serif;
    --seconday-font: 'Calistoga', sans-serif;
    
    --border-width: 3px;
    --element-border-radius: 5px;
    
    --button-height: 5px;
    
    --small-button-height: 2px;
    
    --element-padding: 0.8em;
    
    --maximum-width: 320px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    color: var(--dark-color);
    background-color: var(--secondary-light-color);
    font-family: var(--primary-font);
}

/* === Typography === */

h1 {
    margin: 0;
}

.app-title {
    font-family: var(--seconday-font);
    font-size: 2.5em;
    text-align: center;
}

/* === Sections === */

section {
    margin: 3em 0;
}

.auth-fields-and-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* === Structure === */
.container {
    max-width: var(--maximum-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#logged-out-view .container {
    gap: 2em;
}

/* === Common for elements === */

input, button {
    font-family: iherit;
    padding: var(--element-padding);
    border-radius: var(--element-border-radius);
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    text-align: center;
    border: var(--border-width) solid var(--dark-color);
}

input:focus, button:focus {
    outline: none;
}