:root {
    --primary-color: #FFDE00;
    --primary-light-color: #FFE769;
    --secondary-color: #FFE4BA;
    --secondary-light-color: #FFF6E8;
    --post-color: #62EEA8;
    --delete-color: #FF9F9F;
    --light-color: #FFFEFC;
    --grey-color: #747E79;
    --dark-color: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {

}